
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { max-width: 100%; margin: 0; padding: 0; }

ul {
  font-family: sans-serif;
  list-style-type: none;
  padding-left: 250px;
  background-color: #e4bac6;
}

li {
  text-decoration: none;
  display: inline;
  font-size: 14px;
}

li a {
  font-family: 'Open Sans', serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 15px;
}

#first {
  padding-left: 0px;
}

#name {
  font-family: 'sansita';
  font-size: 54px;
}

.kito-1 {
  margin-left:300px;
}

.top {
  font-family: 'Open Sans';
  font-size: 15px;
}
.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.23);
}

.nav-item {
  font-family: 'Open Sans';
  font-size: 15px;
}

.icon {
  font-size: 25px;
}

.container {
  padding: 100px 250px;
}

.container-2 {
  display: block;
  padding: 30px 250px;
}

.row{
  display: flex;
}

.head {
  font-family: 'sansita';
  font-weight: 700;
  font-size: 54px;
}

.home {
  font-family: 'Open Sans';
  font-size: 15px;
  padding-right: 9px;
}

.about-s {
  font-family: 'Open Sans';
  font-size: 15px;
  padding-left: 9px;
  float: left;
}

.about-xs {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  background-color: #f8dfe7;
  margin-top: 50px;
  margin-left: 40px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: #EC80A0;
}

.col-1 {
  display: block;
  float: right;
  width: 50%;
  background-color: rgb(226, 182, 178);
}

.col-2 {
  display: block;
  width: 50%;
  background-color: #E5F8FD;
  padding-bottom: 20px;
}

.blurb {
  font-family: 'sansita';
  font-size: 54px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 17px;
}

.contact {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  background-color: #EC80A0;
  color: white;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  margin: 40px 40px;
}

.bird {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#proud {
  display: inline-block;
}

.grid-container {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto auto auto;
  background-color: white;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item-2 {
  padding: 30px;
}


.grid-item {
  background-color: white;
  border-radius: 7px;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.37);
}

.num {
  font-family: 'sansita';
  font-size: 42px;
  font-weight: 700;
  color: #EC80A0;
}

.service {
  font-family: 'Barlow';
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

.fluff {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 5px;
  line-height: 26px;
}

.love {
  background-color: #FDF4F7;
  font-family: 'sansita';
  float: right;
  width: 32%;
  margin-top: 68px;
  border-radius: 20px;
  text-align: center;
}

.baby {
  border-radius: 20px;
}

.bear {
  padding-bottom: 50px;
  padding-right: 25px;
}

.pfp {
  border-radius: 50%;
  background-color: gray;
  height: 130px;
  width: 130px;
  margin: auto; 
}

.name {
  font-family: 'Barlow';
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.role {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

.desc {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 26px;
  margin-top: 10px;
}

.benefits {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 20px;
  background-color: white;
}

.b-text {
  float: left;
  padding: 5px 10px;
}

form {
  display: flex;
  padding-top: 15px;
  flex-direction: row;
  float: right;
}

input[type=text] {
  float: right;
  padding: 15px;
  border-style: solid;
  border-color: pink;
  border-radius: 10px 0 0 10px;
  font-size: 13px;
}

button {
  padding: 11px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: pink;
  border-style: solid;
  border-color: pink;
  border-radius: 0 10px 10px 0;
}

.join {
  font-family: 'Open Sans'; 
  font-size: 15px; 
  font-weight: 700;
  padding: 15px 10px;
  margin-left: 800px;
}

.footlink {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 35px;
  padding-top: 10px;
}

.copyright {
  padding-top: 10px;
  font-family: 'Open Sans';
  font-size: 15px;
  text-align: center;
}

.kito {
  margin: 0; 
  font-weight: 800; 
  float: left;
}

.hamburger {
  display: none;
}

@media (max-width: 1919px) {
  * { max-width: 100%; margin: 0; padding: 0; }

  .none {
    display: none;
  }

  .ul {
    padding: 0;
  }

  .nav {
    padding: 20px 0;
    width: 100%;
  }

  #name {
    font-family: 'sansita';
    font-size: 30px;
    margin: 0;
  }

  .kito-1 {
    margin: 0px;
  }

  .icon {
    display: none;
  }

  .container {
    padding: 0 30px;
    text-align: center;
  }

  .home {
    text-align: center;
  }

  .about-s {
    display: inline;
  }

  .container-2 {
    padding: 15px;
  }

  .col-1 {
    width: 100%;
    float: none;
    margin-top: 40px;
  }

  .col-2 {
    width: 100%;
    float: none;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .grid-item {
    margin-top: 30px;
  }

  .bear {
    width: 45%;
  }

  .baby {
    width: 45%;
  }

  .love {
    float: none;
    width: 100%;
  }

  .kito {
    float: none;
    text-align: center;
  }

  input[type=text] {
    float: none;
    width: 100%;
    padding-right: 0px;
    margin-left: 5px;
  }

  button {
    display: inline;
    float: none;
    padding: auto;
  }
  
  .join {
    clear: both;
    float: none;
    text-align: center;
    margin: 0px;
  }

  .hamburger {
    display: inline;
    float: right;
    font-size: 30px;
  }

  .form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

